* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.container {
    width: 100%;
    height: 800px;
    border: solid 5px purple;
}

.square {
    width: 200px;
    height: 200px;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}